# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environments
.env
.venv/
env/
venv/
*.env

# IDEs and Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.old
*.orig

# Gradio
gradio_cached_examples/
